<section id="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3" *ngFor="let blog of blogs">
                        <article class="column" data-aos="fade-up">
                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img [src]="blog?.image.url" alt="post" class="post-image">
                                </a>
                            </figure>
                            <div class="post-item">
                                <div class="meta-date">{{blog.author}}</div>
                                <h3><a href="#">{{blog.title}}</a></h3>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>