<app-banner />
<section id="popular-books" class="bookshelf">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>--Categories</span>
                    </div>
                    <h2 class="section-title">Explore our Top Categories</h2>
                </div>
                <ul class="tabs">
                    <li routerLink="/" class="active tab">All Genre</li>
                    <li *ngFor="let category of categories; index as i" routerLink="/category/{{category._id}}"
                        class="active tab">{{category.name}}</li>
                </ul>
            </div>

        </div>
    </div>

</section>

 <section id="featured-books">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-list" data-aos="fade-up">
                    <div class="row">

                        <div class="col-md-3" *ngFor="let product of products">
                            <figure class="product-style">
                                <img [src]="product?.image.url" alt="Books" class="product-item">
                                <button type="button" class="add-to-cart"
                                    data-product-tile="add-to-cart">Detail</button>
                                <figcaption>
                                    <h3><a routerLink="/product/{{product._id}}">{{product.name}}</a></h3>
                                    <p class="name">{{product.author}}</p>
                                    <div class="item-price">{{product.price}}đ</div>
                                </figcaption>
                            </figure>
                        </div>

                        <section id="best-selling" class="leaf-pattern-overlay">
                            <div class="corner-pattern-overlay"></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <figure class="products-thumb">
                                                    <img src="https://cdn.shopify.com/s/files/1/0039/7282/5134/products/AKBA_Racism_Cover_db369bb1-d208-421c-b327-93db46fa052b.png?v=1665006228"
                                                        alt="book" class="single-image">
                                                </figure>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="product-entry">
                                                    <h2 class="section-title divider">Featured book</h2>
                                                    <div class="products-content">
                                                        <div class="author-name">By Timbur Hood</div>
                                                        <h3 class="item-title">Birds gonna be happy</h3>
                                                        <p class="des">Lorem ipsum dolor sit amet, consectetur
                                                            adipiscing elit. Sed eu feugiat
                                                            amet, libero
                                                            ipsum enim pharetra hac.</p>
                                                        <div class="item-price">45.00đ</div>
                                                        <div class="btn-wrap">
                                                            <a href="#" class="btn-accent-arrow view">View More <i
                                                                    class="icon icon-ns-arrow-right"></i></a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                       

                                    </div>

                                </div>
                            </div>
                        </section>
                        <app-blog-page />
                        <app-contact-page />