<div *ngIf="detailOrder.length">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Detail Order<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="shop">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detail Order</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    
    <div class="page-content">
        <div class="cart">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-cart table-mobile">
                            <thead>
                                <tr>
                                    <th>Bill of lading code</th>
                                    <th>Product</th>
                                    <th>Total</th>
                                    <th>Quantity</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
    
                            <tbody>
                                <tr *ngFor="let order of detailOrder ; let i = index">
                                    <td class="price-col px-5">
                                        <a href="#" >
                                        <p>{{order._id}}</p>
                                        </a>
                                    </td>
                                    <td class="product-col">
                                        <div class="product" *ngFor=" let names of order.products ; let is = index">
                                            <div class="product-item">
                                                <img src="{{names.image}}" class="mr-5 mb-3" width="50px" height="50px" alt="">
                                                <h3 class="product-title">
                                                    <a href="" class="mr-3">{{names.name}} </a>
                                                </h3><!-- End .product-title -->
                                                
                                            </div>
                                        </div><!-- End .product -->
                                    </td> 
                                    <td class="price-col">{{order.total}}</td>
                                    <div class="product" *ngFor=" let names of order.products ; let is = index">

                                    <td class="price-col">{{names.quantity}}</td>
                                    </div>
                                    
    
                                      
    
                                    <td class="total-col" style="color: green;">{{order.status.status}}...</td>
            <td class="remove-col"><button class="btn-remove" (click)="huyDon(order._id,order.status)">Hủy đơn</button></td>
                                </tr>   
    
                                
                            </tbody>
                        </table><!-- End .table table-wishlist -->
    
                        <div class="cart-bottom">
                            <a href="detailorder" class="btn btn-outline-dark-2" ><span>UPDATE</span><i class="icon-refresh"></i></a>
                        </div><!-- End .cart-bottom -->
                    </div><!-- End .col-lg-9 -->
                
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .cart -->
    </div><!-- End .page-content -->
</div>

<div class="errorcart"  *ngIf="!detailOrder.length">
    <h1 class="warning-error d-flex justify-content-center">There are no order !!!</h1>
    <a class=" mt-3 d-flex justify-content-center p-0" routerLink="/shop" role="button">Back to the store to buy</a>
</div>