<form (ngSubmit)="onHandleAdd()" [formGroup]="categoryForm">
    <!-- Name book input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form4Example1">Tên danh mục</label>
    <input type="text" formControlName="name" class="form-control" />
    <div *ngIf="categoryForm.controls.name?.errors?.['required'] && categoryForm.controls.name?.touched  || submitted" class="text-danger">
      Tên danh mục là bắt buộc
    </div>
    <div *ngIf="categoryForm.controls.name?.errors?.['minlength'] && categoryForm.controls.name?.touched" class="text-danger">
      Tên danh mục có ít nhất 4 ký tự
    </div>
    <div *ngIf="categoryForm.controls.name?.errors?.['pattern'] && categoryForm.controls.name?.touched" class="text-danger">
      Tên danh mục không được chứa số
    </div>
    <div *ngIf="categoryForm.controls.name?.errors?.['duplicateName']" class="text-danger">
      Tên danh mục đã tồn tại
    </div>
  </div>
    <!-- Submit button -->
    <button type="submit "  class="btn btn-primary btn-block mb-4">Submit</button>
  </form>
  