<form (ngSubmit)="onHandleAdd()" [formGroup]="productForm">
    
    <div class="form-outline mb-4">
      <label class="form-label">Tên sách</label>
      <input type="text" class="form-control" formControlName="name" />
      
      <div *ngIf="productForm.controls.name?.errors?.['required'] && productForm.controls.name?.touched  || submitted"
        class="text-danger">
        Tên sách là bắt buộc
      </div>
      <div *ngIf="productForm.controls.name?.errors?.['minlength'] && productForm.controls.name?.touched"
        class="text-danger">
        Tên sách phải có ít nhất 4 ký tự
      </div>
      <div *ngIf="productForm.controls.name?.errors?.['pattern'] && productForm.controls.name?.touched"
        class="text-danger">
        Tên sách không được chứa số
      </div>
  
    </div>
  
    
    <div class="form-outline mb-4">
      <label class="form-label">User Name</label>
      <input type="text" class="form-control" formControlName="author" />
      
      <div *ngIf="productForm.controls.author?.errors?.['required'] && productForm.controls.author?.touched  || submitted"
        class="text-danger">
        User Name là bắt buộc
      </div>
      <div *ngIf="productForm.controls.author?.errors?.['minlength'] && productForm.controls.author?.touched"
        class="text-danger">
        User Name phải có ít nhất 4 ký tự
      </div>
      
    </div>
  
    
    <div class="form-outline mb-4">
      <label class="form-label">Giá</label>
      <input type="number" class="form-control" formControlName="price" />
      
      <div *ngIf="productForm.controls.price?.errors?.['required'] && productForm.controls.price?.touched || submitted"
        class="text-danger">
        Giá là bắt buộc
      </div>
      <div *ngIf="productForm.controls.price?.errors?.['min'] && productForm.controls.price?.touched" class="text-danger">
        Giá phải lớn hơn 0
      </div>
  
    </div>
  
    
    <div class="form-outline mb-4">
      <label class="form-label">Ảnh</label>
      <input type="file" class="form-control" name="images" (change)="onSelectImage($event)" />
      
      <div *ngIf="productForm.get('image')?.errors?.['required'] && (productForm.get('image')?.touched || submitted)"
        class="text-danger">
        Ảnh là bắt buộc
      </div>
    </div>
  
    
    <div class="form-outline mb-4">
      <label class="form-label">Mô tả</label>
      <textarea class="form-control" rows="4" formControlName="description"></textarea>
      
      <div
        *ngIf="productForm.controls.description?.errors?.['required'] && productForm.controls.description?.touched  || submitted"
        class="text-danger">
        Mô tả là bắt buộc
      </div>
      <div *ngIf="productForm.controls.description?.errors?.['minlength'] && productForm.controls.description?.touched"
        class="text-danger">
        Mô tả phải có ít nhất 4 ký tự
      </div>
    </div>
  
    <select class="form-select" style="margin-bottom: 20px;" formControlName="categoryId">
      <option selected disabled>Chọn danh mục</option>
      <option *ngFor="let category of categories" value="{{category._id}}">{{category.name}}</option>
    </select>
    <div
      *ngIf="productForm.controls.categoryId?.errors?.['required'] && productForm.controls.categoryId?.touched  || submitted"
      class="text-danger">
      Hãy chọn danh mục muốn thêm
    </div><br>
    
    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
  
  </form>